/*
'########:'########:::::'###::::'####:'##:::::::'##::::'##:'########::::'###::::'########::
... ##..:: ##.... ##:::'## ##:::. ##:: ##::::::: ##:::: ##: ##.....::::'## ##::: ##.... ##:
::: ##:::: ##:::: ##::'##:. ##::: ##:: ##::::::: ##:::: ##: ##::::::::'##:. ##:: ##:::: ##:
::: ##:::: ########::'##:::. ##:: ##:: ##::::::: #########: ######:::'##:::. ##: ##:::: ##:
::: ##:::: ##.. ##::: #########:: ##:: ##::::::: ##.... ##: ##...:::: #########: ##:::: ##:
::: ##:::: ##::. ##:: ##.... ##:: ##:: ##::::::: ##:::: ##: ##::::::: ##.... ##: ##:::: ##:
::: ##:::: ##:::. ##: ##:::: ##:'####: ########: ##:::: ##: ########: ##:::: ##: ########::
:::..:::::..:::::..::..:::::..::....::........::..:::::..::........::..:::::..::........:::
 */

/* Rules */

/*
* Core
* These are the core functions, mixins and rules that powers Trailhead
*/

*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul,
li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q::before,
q::after {
  content: '';
}

button,
input[type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

a img {
  border: 0;
}

hr {
  border-style: single;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap,
.inner-wrap {
  width: 100%;
  position: relative;
}

.clear::before,
.clear::after {
  content: '';
  display: table;
}

.clear::after {
  clear: both;
}

input,
select,
textarea {
  -webkit-border-radius: 0;
}

.hidden-element {
  display: none;
}

.visible {
  display: block;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/*
* Functions
* These are add-in functions that enable Trailhead to work
*/

/*
* Mixins
* These are the core mixins 
*
*/

/*
* Branding
* This file contains the main branding rules for your app,
* here you can set color schemes, border styles and entire color profiles
* 
*/

/*
* Colors
* This file contains all the colors used in your app
*/

.palette {
  height: 20vh;
  background: repeating-linear-gradient(90deg, red, red 10vmin, blue 10vmin, blue 20vmin);
}

*.highlight,
*.highlight-color {
  color: #ee128b;
  stroke: #ee128b;
}

*.highlight-bg,
*.highlight-background {
  background-color: #ee128b;
}

*.highlight2,
*.highlight2-color {
  color: #41409e;
  stroke: #41409e;
}

*.highlight2-bg,
*.highlight2-background {
  background-color: #41409e;
}

/*
* Borders
* This file codes for the appearance of general borders in your app
*/

/*
* Flow
* These are the general rules for how the app "flows",
* from the way that content spans the page, to the sizing 
* of a paragraph. These rules determine the widths that make 
* up your new app. 
*/

/*
* Golden rules
* These are the golden ratio rules for Trailhead,
* these are a sort of base-building block, entirely optional
*/

.golden {
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 60rem) {
  .golden {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.content-flow {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 60rem) {
  .content-flow {
    width: 95%;
    max-width: 100%;
  }
}

.reading-flow {
  width: 100%;
  max-width: 52rem;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 60rem) {
  .reading-flow {
    max-width: 95%;
  }
}

/*
* Text and font rules 
* These are rules for text and fonts in your app, 
* here you can import, style and set text classes.
*/

/*
* Font imports
* This file contains all necessary rules to import fonts,
* both for local fonts and from third party sources like 
* Google fonts. It also binds up common fonts to variables.
*/

/* Google font options */

/* Local font file embed
* Local file embeds presuppose a folder in assets called fonts, to generate necessary font files: https://transfonter.org/
*                            *name*: *weight*, *filename*, *style*;
* -- Example: $localFonts : ('Montserrat' : (400, 'Montserrat-SemiBold', "normal"))
*
*/

@font-face {
  font-family: 'News Gothic';
  src: url(/fonts/NewsGothicStd-Oblique.woff2?aa119ce8505bed9113c3bdb1ba779f7a) format("woff2"), url(/fonts/NewsGothicStd-Oblique.woff?c00cdd33b4983d3138ee0436a788e1fe) format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'News Gothic';
  src: url(/fonts/NewsGothicStd.woff2?dd7e303401a4699d15bdd0dcef658e9d) format("woff2"), url(/fonts/NewsGothicStd.woff?bafb8dc149590b9bcc2980faf96ba611) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'News Gothic';
  src: url(/fonts/NewsGothicStd-BoldOblique.woff2?ec169e27e0c7533f01f368b99e30a418) format("woff2"), url(/fonts/NewsGothicStd-BoldOblique.woff?7b6a2d2d277ccbc1d9471ad3be8d6476) format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'News Gothic';
  src: url(/fonts/NewsGothicStd-Bold.woff2?3436fcc91ee4d2829b4d7cad3af94721) format("woff2"), url(/fonts/NewsGothicStd-Bold.woff?ea1ba757fc8c71adce1fa8d74550605c) format("woff");
  font-weight: bold;
  font-style: normal;
}

/*
* Headings
* This file contains the styling rules for headings
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-family: "News Gothic", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 120%;
}

@media screen and (max-width: 60rem) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 110%;
  }
}

h1 a,
h1 span,
h2 a,
h2 span,
h3 a,
h3 span,
h4 a,
h4 span,
h5 a,
h5 span,
h6 a,
h6 span {
  font-size: inherit;
  font-weight: inherit;
}

/*
* Size constructor
* You can set an array of sizes to construct custom sizes for each element e.g:
* $desktop-headings : ( 1 : $desktop-heading-size, 2 : 3rem, 3 : 2.5rem )
* $mobile-headings  : (1 : $mobile-heading-size, 2 : 2rem, 3 : 1.8rem)
* 
* Defaults to off
*/

@media screen and (min-width: 60rem) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 60rem) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 0.9rem;
  }
}

h2 {
  color: #41409e;
}

h4 {
  font-weight: 700;
  text-transform: uppercase;
}

/*
* Body text 
* This file controls how body text looks, including labels and small elements
*/

body {
  font-family: "News Gothic", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  color: #000;
}

@media screen and (max-width: 60rem) {
  body {
    font-size: 0.9rem;
    line-height: 130%;
  }
}

p {
  display: inline-block;
  margin-bottom: 2rem;
}

@media screen and (max-width: 60rem) {
  p {
    margin-bottom: 1.5rem;
  }
}

/*
* General text classes
* This file contains re-usable text classes
*/

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

/* 
* Anchor links
* This file contains the rules for anchor tags
*/

a {
  cursor: pointer;
}

/*
* Labels
* This file contains the styling for label nodes
*/

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

/*
* Horizontal Rule 
* All styling for horizontal rules
*/

hr,
.hr {
  border: none;
  border-bottom: 0.0625rem solid #fff;
  display: block;
}

/*
* Debugging
* This file contains tools for rapid debugging
*/

@-webkit-keyframes debug {
  0% {
    top: -100%;
  }

  25% {
    top: 0;
  }

  75% {
    top: 0;
  }

  100% {
    top: -100%;
  }
}

@keyframes debug {
  0% {
    top: -100%;
  }

  25% {
    top: 0;
  }

  75% {
    top: 0;
  }

  100% {
    top: -100%;
  }
}

/* These are rulesets for applying scrollblocks to different elements */

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

/*
* Body 
* Control the styling of the body element
*/

body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  background: #ececec;
  min-height: 100vh;
}

/* 
* Inputs and textareas
* These files contain all the necessary styling rules for input elements 
* and textareas. 
*/

input:not(input[type='submit']),
textarea {
  font-family: "News Gothic", sans-serif;
  min-height: 3rem;
  font-size: 1rem;
}

@media screen and (max-width: 60rem) {
  input:not(input[type='submit']),
  textarea {
    min-height: 3rem;
    font-size: 0.9rem;
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='time'],
input[type='week'],
input[type='datetime-local'] {
  width: 100%;
  border: none;
  resize: none;
  color: #41409e;
  background: none;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  height: 3rem;
  border-bottom: 2px solid #41409e;
}

input[type='text'].error,
input[type='email'].error,
input[type='password'].error,
input[type='date'].error,
input[type='url'].error,
input[type='tel'].error,
input[type='number'].error,
input[type='search'].error,
input[type='time'].error,
input[type='week'].error,
input[type='datetime-local'].error {
  border-color: #a90118;
}

input[type='text'].success,
input[type='text'].match,
input[type='text'].confirmation,
input[type='email'].success,
input[type='email'].match,
input[type='email'].confirmation,
input[type='password'].success,
input[type='password'].match,
input[type='password'].confirmation,
input[type='date'].success,
input[type='date'].match,
input[type='date'].confirmation,
input[type='url'].success,
input[type='url'].match,
input[type='url'].confirmation,
input[type='tel'].success,
input[type='tel'].match,
input[type='tel'].confirmation,
input[type='number'].success,
input[type='number'].match,
input[type='number'].confirmation,
input[type='search'].success,
input[type='search'].match,
input[type='search'].confirmation,
input[type='time'].success,
input[type='time'].match,
input[type='time'].confirmation,
input[type='week'].success,
input[type='week'].match,
input[type='week'].confirmation,
input[type='datetime-local'].success,
input[type='datetime-local'].match,
input[type='datetime-local'].confirmation {
  border-color: #79c753;
}

/*
* Textarea
* Styling rules for how textareas look
*
*/

textarea,
.textarea {
  resize: none;
  height: 7rem;
  border: none;
  background: #fff;
  color: #000;
}

@media screen and (max-width: 60rem) {
  textarea,
  .textarea {
    height: 6rem;
  }
}

/* Styling for the checkbox element 
* Defaults to a simple circle element
*
*/

input[type='checkbox'],
.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*
* Interactives
* Interactives include buttons, hero buttons and other things you interact with. 
*/

.hero-button {
  width: 100%;
  border: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  letter-spacing: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "News Gothic", sans-serif;
  text-transform: uppercase;
  background: #232355;
}

@media screen and (max-width: 60rem) {
  .hero-button {
    height: 4rem;
  }
}

@media screen and (min-width: 60rem) {
  .hero-button {
    height: 4.5rem;
  }
}

/*
* General Buttons and submit elements
* These rules define the styling of general button elements
*/

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  padding: 0.5rem 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  background-color: #ee128b;
  height: 2rem;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.button.error {
  border-color: #a90118;
  background: #a90118;
}

.button.success {
  border-color: #79c753;
  background: #79c753;
}

@media screen and (max-width: 60rem) {
  .button {
    height: 1.5rem;
  }
}

.button-outlined {
  padding: 0 2rem;
  background: none;
  font-weight: 600;
  font-size: 0.75rem;
  color: #41409e;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #41409e;
  height: 3rem;
}

/*
* Templates
* Templates are large scale, reusable sitewide blocks, that can be repurposed across different elements, pages and views. 
*/

/* Modal templates */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1000;
  -webkit-transition: background 1s;
  transition: background 1s;
  background-color: transparent;
}

.modal.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal.active,
.modal.open {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.95);
}

/* 
* Blocks
* Blocks are reusable animation blocks, used to spice up your app
*/

/* 
* Slide blocks
* These blocks slide in a given direction
*/

.slide-block,
.slide-block-top,
.slide-block-left,
.slide-block-bottom,
.slide-block-right {
  will-change: transform;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.slide-block,
.slide-block-top {
  -webkit-animation-name: slide-block-top;
          animation-name: slide-block-top;
}

.slide-block-left {
  -webkit-animation-name: slide-block-left;
          animation-name: slide-block-left;
}

.slide-block-right {
  -webkit-animation-name: slide-block-right;
          animation-name: slide-block-right;
}

.slide-block-bottom {
  -webkit-animation-name: slide-block-bottom;
          animation-name: slide-block-bottom;
}

.slide-block:nth-child(1),
.slide-block-top:nth-child(1),
.slide-block-left:nth-child(1),
.slide-block-bottom:nth-child(1),
.slide-block-right:nth-child(1) {
  -webkit-animation-duration: 0.33s;
          animation-duration: 0.33s;
}

.slide-block:nth-child(2),
.slide-block-top:nth-child(2),
.slide-block-left:nth-child(2),
.slide-block-bottom:nth-child(2),
.slide-block-right:nth-child(2) {
  -webkit-animation-duration: 0.66s;
          animation-duration: 0.66s;
}

.slide-block:nth-child(3),
.slide-block-top:nth-child(3),
.slide-block-left:nth-child(3),
.slide-block-bottom:nth-child(3),
.slide-block-right:nth-child(3) {
  -webkit-animation-duration: 0.99s;
          animation-duration: 0.99s;
}

.slide-block:nth-child(4),
.slide-block-top:nth-child(4),
.slide-block-left:nth-child(4),
.slide-block-bottom:nth-child(4),
.slide-block-right:nth-child(4) {
  -webkit-animation-duration: 1.32s;
          animation-duration: 1.32s;
}

.slide-block:nth-child(5),
.slide-block-top:nth-child(5),
.slide-block-left:nth-child(5),
.slide-block-bottom:nth-child(5),
.slide-block-right:nth-child(5) {
  -webkit-animation-duration: 1.65s;
          animation-duration: 1.65s;
}

.slide-block:nth-child(6),
.slide-block-top:nth-child(6),
.slide-block-left:nth-child(6),
.slide-block-bottom:nth-child(6),
.slide-block-right:nth-child(6) {
  -webkit-animation-duration: 1.98s;
          animation-duration: 1.98s;
}

.slide-block:nth-child(7),
.slide-block-top:nth-child(7),
.slide-block-left:nth-child(7),
.slide-block-bottom:nth-child(7),
.slide-block-right:nth-child(7) {
  -webkit-animation-duration: 2.31s;
          animation-duration: 2.31s;
}

.slide-block:nth-child(8),
.slide-block-top:nth-child(8),
.slide-block-left:nth-child(8),
.slide-block-bottom:nth-child(8),
.slide-block-right:nth-child(8) {
  -webkit-animation-duration: 2.64s;
          animation-duration: 2.64s;
}

.slide-block:nth-child(9),
.slide-block-top:nth-child(9),
.slide-block-left:nth-child(9),
.slide-block-bottom:nth-child(9),
.slide-block-right:nth-child(9) {
  -webkit-animation-duration: 2.97s;
          animation-duration: 2.97s;
}

.slide-block:nth-child(10),
.slide-block-top:nth-child(10),
.slide-block-left:nth-child(10),
.slide-block-bottom:nth-child(10),
.slide-block-right:nth-child(10) {
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
}

.slide-block:nth-child(11),
.slide-block-top:nth-child(11),
.slide-block-left:nth-child(11),
.slide-block-bottom:nth-child(11),
.slide-block-right:nth-child(11) {
  -webkit-animation-duration: 3.63s;
          animation-duration: 3.63s;
}

.slide-block:nth-child(12),
.slide-block-top:nth-child(12),
.slide-block-left:nth-child(12),
.slide-block-bottom:nth-child(12),
.slide-block-right:nth-child(12) {
  -webkit-animation-duration: 3.96s;
          animation-duration: 3.96s;
}

.slide-block:nth-child(13),
.slide-block-top:nth-child(13),
.slide-block-left:nth-child(13),
.slide-block-bottom:nth-child(13),
.slide-block-right:nth-child(13) {
  -webkit-animation-duration: 4.29s;
          animation-duration: 4.29s;
}

.slide-block:nth-child(14),
.slide-block-top:nth-child(14),
.slide-block-left:nth-child(14),
.slide-block-bottom:nth-child(14),
.slide-block-right:nth-child(14) {
  -webkit-animation-duration: 4.62s;
          animation-duration: 4.62s;
}

.slide-block:nth-child(15),
.slide-block-top:nth-child(15),
.slide-block-left:nth-child(15),
.slide-block-bottom:nth-child(15),
.slide-block-right:nth-child(15) {
  -webkit-animation-duration: 4.95s;
          animation-duration: 4.95s;
}

.slide-block:nth-child(16),
.slide-block-top:nth-child(16),
.slide-block-left:nth-child(16),
.slide-block-bottom:nth-child(16),
.slide-block-right:nth-child(16) {
  -webkit-animation-duration: 5.28s;
          animation-duration: 5.28s;
}

.slide-block:nth-child(17),
.slide-block-top:nth-child(17),
.slide-block-left:nth-child(17),
.slide-block-bottom:nth-child(17),
.slide-block-right:nth-child(17) {
  -webkit-animation-duration: 5.61s;
          animation-duration: 5.61s;
}

.slide-block:nth-child(18),
.slide-block-top:nth-child(18),
.slide-block-left:nth-child(18),
.slide-block-bottom:nth-child(18),
.slide-block-right:nth-child(18) {
  -webkit-animation-duration: 5.94s;
          animation-duration: 5.94s;
}

.slide-block:nth-child(19),
.slide-block-top:nth-child(19),
.slide-block-left:nth-child(19),
.slide-block-bottom:nth-child(19),
.slide-block-right:nth-child(19) {
  -webkit-animation-duration: 6.27s;
          animation-duration: 6.27s;
}

.slide-block:nth-child(20),
.slide-block-top:nth-child(20),
.slide-block-left:nth-child(20),
.slide-block-bottom:nth-child(20),
.slide-block-right:nth-child(20) {
  -webkit-animation-duration: 6.6s;
          animation-duration: 6.6s;
}

@-webkit-keyframes slide-block-top {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-block-top {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-block-left {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-block-left {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-block-right {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-block-right {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-block-bottom {
  0% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-block-bottom {
  0% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* 
* Opacity block 
* The opacity block is just a ismiple fade block, that fades in from 0 opacity 
*/

.opacity-block {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: opacity-block;
          animation-name: opacity-block;
  will-change: opacity;
}

.opacity-block:nth-child(1) {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.opacity-block:nth-child(2) {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.opacity-block:nth-child(3) {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.opacity-block:nth-child(4) {
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

.opacity-block:nth-child(5) {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.opacity-block:nth-child(6) {
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
}

.opacity-block:nth-child(7) {
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
}

.opacity-block:nth-child(8) {
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
}

.opacity-block:nth-child(9) {
  -webkit-animation-duration: 3.6s;
          animation-duration: 3.6s;
}

.opacity-block:nth-child(10) {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.opacity-block:nth-child(11) {
  -webkit-animation-duration: 4.4s;
          animation-duration: 4.4s;
}

.opacity-block:nth-child(12) {
  -webkit-animation-duration: 4.8s;
          animation-duration: 4.8s;
}

.opacity-block:nth-child(13) {
  -webkit-animation-duration: 5.2s;
          animation-duration: 5.2s;
}

.opacity-block:nth-child(14) {
  -webkit-animation-duration: 5.6s;
          animation-duration: 5.6s;
}

.opacity-block:nth-child(15) {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.opacity-block:nth-child(16) {
  -webkit-animation-duration: 6.4s;
          animation-duration: 6.4s;
}

.opacity-block:nth-child(17) {
  -webkit-animation-duration: 6.8s;
          animation-duration: 6.8s;
}

.opacity-block:nth-child(18) {
  -webkit-animation-duration: 7.2s;
          animation-duration: 7.2s;
}

.opacity-block:nth-child(19) {
  -webkit-animation-duration: 7.6s;
          animation-duration: 7.6s;
}

.opacity-block:nth-child(20) {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

@-webkit-keyframes opacity-block {
  0% {
    opacity: 0;
  }
}

@keyframes opacity-block {
  0% {
    opacity: 0;
  }
}

/* 
* Rotation block 
* The rotation block is just a ismiple fade block, that fades in from 0 rotation 
*/

.rotation-block {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: rotateBlockRight;
          animation-name: rotateBlockRight;
  will-change: transform;
}

.rotation-block-right,
.rotation-block-clockwise {
  -webkit-animation-name: rotateBlockRight;
          animation-name: rotateBlockRight;
}

.rotation-block-left,
.rotation-block-counter-clockwise {
  -webkit-animation-name: rotateBlockLeft;
          animation-name: rotateBlockLeft;
}

.rotation-block:nth-child(1) {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

.rotation-block:nth-child(2) {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.rotation-block:nth-child(3) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

.rotation-block:nth-child(4) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.rotation-block:nth-child(5) {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
}

.rotation-block:nth-child(6) {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.rotation-block:nth-child(7) {
  -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
}

.rotation-block:nth-child(8) {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.rotation-block:nth-child(9) {
  -webkit-animation-duration: 2.25s;
          animation-duration: 2.25s;
}

.rotation-block:nth-child(10) {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.rotation-block:nth-child(11) {
  -webkit-animation-duration: 2.75s;
          animation-duration: 2.75s;
}

.rotation-block:nth-child(12) {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.rotation-block:nth-child(13) {
  -webkit-animation-duration: 3.25s;
          animation-duration: 3.25s;
}

.rotation-block:nth-child(14) {
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

.rotation-block:nth-child(15) {
  -webkit-animation-duration: 3.75s;
          animation-duration: 3.75s;
}

.rotation-block:nth-child(16) {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.rotation-block:nth-child(17) {
  -webkit-animation-duration: 4.25s;
          animation-duration: 4.25s;
}

.rotation-block:nth-child(18) {
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
}

.rotation-block:nth-child(19) {
  -webkit-animation-duration: 4.75s;
          animation-duration: 4.75s;
}

.rotation-block:nth-child(20) {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes rotateBlockRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateBlockRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateBlockRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

/*
* Icon rules 
* Rules for SVG icons
*/

svg {
  stroke: #000;
}

.icon-hover {
  stroke: #ee128b;
}

.two-pane-view {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.two-pane-view .sidebar {
  width: 20%;
  height: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  min-width: 15rem;
  max-width: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background: #41409e;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.two-pane-view .sidebar .logo {
  width: 50%;
}

.two-pane-view .sidebar .links a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two-pane-view .sidebar a:hover {
  color: #ee128b;
}

.two-pane-view .sidebar .links a svg {
  max-width: 1em;
  max-height: 1em;
  margin-right: 0.75em;
}

.two-pane-view .sidebar .links a.notification {
  -webkit-animation: notification-pulse 4s infinite;
          animation: notification-pulse 4s infinite;
}

.two-pane-view .content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding: 0 2.5rem 0 2.5rem;
  border: 1rem solid #41409e;
}

.two-pane-view .content > *:first-child {
  margin-top: 4rem;
}

.stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats > div {
  width: 25%;
}

.toolkit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.toolkit > a {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
  max-height: 10rem;
  color: #41409e;
  margin-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #41409e;
}

.toolkit svg {
  height: 30%;
}

.toolkit > a:hover {
  color: #fff;
  background: #41409e;
}

@-webkit-keyframes notification-pulse {
  50% {
    color: #bb4586;
  }
}

@keyframes notification-pulse {
  50% {
    color: #bb4586;
  }
}

/* Page imports, index of all pages */

#editor-view {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#editor-view #editor-body {
  width: 100%;
  padding: 0 2rem;
  max-width: calc(100% - 5rem);
}

#editor-view #editor-body::before {
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  content: 'Creating a new class';
}

#editor-view #editor-toolbar {
  width: 2.5rem;
  height: 10rem;
  background: #fff;
  border: 1px solid #ccc;
}

#editor-view input,
#editor-view textarea {
  color: #000;
  border: none;
}

#editor-view #main-header #title {
  height: 4rem;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #41409e;
  font-family: "News Gothic", sans-serif;
}

#editor-view .CodeMirror,
#editor-view .CodeMirror-scroll {
  min-height: 200px;
}

.keys-view form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.keys-view .tile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  background: #fff;
  padding: 1rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.keys-view .tile .name {
  font-weight: 400;
}

.keys-view .tile a {
  color: #ee128b;
}

/*
* Elements
* Elements are specific elements that are view-agnostic and reusable anywhere
*/

.access-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ececec;
}

.access-wrapper .access {
  width: 90%;
  margin: auto;
  color: #fff;
  overflow-y: auto;
  max-width: 37rem;
  max-height: 100vh;
  position: relative;
  background: #41409e;
  -webkit-animation: slide-block-top 3s 1;
          animation: slide-block-top 3s 1;
}

.access-wrapper .access header {
  padding: 1.5rem 0;
  text-align: center;
}

.access-wrapper .access header.processing {
  -webkit-animation: color-pulse 1s infinite;
          animation: color-pulse 1s infinite;
}

.access-wrapper .access form {
  display: block;
}

.access-wrapper .access label {
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.access-wrapper .access input {
  color: #fff;
  display: block;
  border-color: #fff;
}

.access-wrapper form > div {
  padding: 0 2rem;
}

@media screen and (max-width: 60rem) {
  .access-wrapper form > div {
    margin-bottom: 2.5%;
  }
}

@media screen and (min-width: 60rem) {
  .access-wrapper form > div {
    margin-bottom: 5%;
  }
}

@-webkit-keyframes fade-in-highlight {
  0% {
    background: #fff;
  }
}

@keyframes fade-in-highlight {
  0% {
    background: #fff;
  }
}

@-webkit-keyframes color-pulse {
  50% {
    color: #ee128b;
  }
}

@keyframes color-pulse {
  50% {
    color: #ee128b;
  }
}

