/*
* General Buttons and submit elements
* These rules define the styling of general button elements
*/

// Button settings
// -- Sizes
$desktop-button-size: 2rem;
$mobile-button-size: 1.5rem;

.button {
  align-items: center;
  display: inline-flex;
  color: $border-color;
  padding: 0.5rem 2rem;
  justify-content: center;
  transition: background 0.4s;
  background-color: $highlight;
  height: $desktop-button-size;
  // States
  // -- Hover
  &:hover {
    background-color: $border-color;
    color: black-or-white($border-color);
  }
  // -- Error
  &.error {
    border-color: $error;
    background: $error;
  }
  // -- Success
  &.success {
    border-color: $success;
    background: $success;
  }

  // Media queries
  @media #{$mobile} {
    height: $mobile-button-size;
  }
}

.button-outlined {
  padding: 0 2rem;
  background: none;
  font-weight: 600;
  font-size: 0.75rem;
  color: $highlight2;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid $highlight2;
  height: $desktop-input-height;
}

.plus-button,
.close-button {
  width: 2rem;
  height: 2rem;
  color: #000;
  display: flex;
  background: #fff;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  align-items: center;
  display: inline-block;
  justify-content: center;
  font-family: $inconsolata;
  transition: background 0.3s;
  &::before {
    content: '+';
  }
  &:hover {
    background: lighten($highlight, 30%);
  }
}
.close-button {
  transform: rotate(45deg);
}
