// Quick bindings
// -- Bind all textual inputs

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='time'],
input[type='week'],
input[type='datetime-local'] {
  width: 100%;
  border: none;
  resize: none;
  height: 3rem;
  color: #fff;
  background: none;
  transition: border 0.3s;
  border-bottom: 2px solid #fff;

  // States
  &.error {
    border-color: $error;
  }

  &.success,
  &.match,
  &.confirmation {
    border-color: $success;
  }
}
