$editor-padding: 0 2rem;

#editor-view {
  height: 100%;
  display: block;
  position: relative;
  animation: fade-in 1s;
  background: $background;
  transition: background 0.6s;
  #editor-body {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 45rem;
  }
  .masthead {
    height: 5rem;
    transition: height 1s;
  }
  .masthead.has-image {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    #editor-toolbar {
      opacity: 1;
      color: $highlight;
      position: relative;
      @include gradient(
        (
          0%: rgba(0, 0, 0, 0.7),
          60%: rgba(0, 0, 0, 0.4),
          100%: rgba(0, 0, 0, 0),
        )
      );
    }
  }
  input,
  textarea,
  .CodeMirror {
    border: none;
    font-family: $inconsolata;
  }
  #editor-toolbar {
    width: 100%;
    height: 5rem;
    opacity: 0.5;
    display: flex;
    align-items: center;
    padding: $editor-padding;
    transition: opacity 0.4s;
    animation: slide-down 1s;
    justify-content: space-between;
    svg {
      height: 1.75em;
      stroke-width: 0;
    }
    section {
      position: relative;
    }
    section.left > * {
      margin-right: 1rem;
    }
    section.right > * {
      margin-left: 1rem;
    }
    a:hover,
    label:hover {
      color: $highlight;
    }
  }
  #editor-toolbar:hover {
    opacity: 1;
  }

  #main-header {
    margin-bottom: 2rem;
    #title {
      height: 4rem;
      font-size: 3rem;
      font-weight: 600;
      font-family: $heading-font-family;
    }
    .author {
      opacity: 0.7;
      margin-top: 0.25rem;
    }
  }

  // Autogrowing
  .CodeMirror,
  .CodeMirror-scroll {
    min-height: 200px;
    font-family: $heading-font-family;
  }
  .cm-header {
    font-family: $heading-font-family;
  }
  .options {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    position: fixed;
    .background {
      @include dim(rgba(0, 0, 0, 0.9));
    }
    .options-pane {
      margin: auto;
      background: #fff;
    }
    .options-content {
      padding: 1rem;
    }

    .slide-block {
      margin-bottom: 2rem;
    }
    input[type='checkbox'] {
      width: 1em;
      height: 1em;
      border: 2px solid $highlight2;
    }
    input[type='checkbox']:checked {
      background: $highlight;
    }
    input.hero-button {
      font-family: $body-font;
    }
  }
}

#editor-view:not(.dark-mode) {
  input,
  textarea {
    color: #000;
  }

  #title {
    color: $highlight2;
  }
  .options-content {
    input[type='url'] {
      border-bottom: 2px solid $highlight2;
    }
  }
  input.hero-button {
    color: #fff;
  }
}

// States
#editor-view.dark-mode {
  color: #fff;
  background: #222;
  input,
  textarea,
  .CodeMirror {
    color: #fff;
  }
  #title {
    color: $highlight;
  }
  .options-pane {
    color: #fff;
    background: #222;
  }
  input[type='checkbox'] {
    border-color: $highlight;
  }
  input[type='checkbox']:checked {
    background: $highlight2;
  }
  .options-content {
    input[type='url'] {
      border-bottom: 2px solid $highlight;
    }
  }
  input.hero-button {
    background: $highlight;
  }
}

.message-box {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  color: #fff;
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
  animation: slide-up 0.4s 1;
  background-color: #525252;
  &.success {
    background: $success;
  }
  &.error {
    background: $error;
  }
}

// Animations
// -- fade-in
@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
}
